.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 10px;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.score-board {
  display: flex;
  justify-content: space-around;
}

.left {
  text-align: left;
}

.right {
  text-align: left;
}

.score1 {
  color: white;
  margin: 0;
}

.total-score1 {
  color: white;
  margin: 0;
}

.score2 {
  color: white;
  margin: 0;
}

.total-score2 {
  color: white;
  margin: 0;
}

.player1name {
  color: white;
}

.player2name {
  color: white;
}